@import "generales";
@import "carousel";
@import "contacto";
@import "medias";


$col-navbar: white;
$col-backg: #0d6efd;


*{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

.logo {
 
    margin-left: 0px;
    
   }  

.navbar-light .navbar-nav .nav-link {

    color: $col-navbar;
 }

.home .servicios .nosotros .contacto .portfolio {
     
  background-color: $col-navbar;
      
  }    
      
.menu{
     
    margin-top: 0px;
    height: 50px;
    color: white;
    display: flexbox;
        

  }

.main {

margin-top: 150px;
margin-bottom: 425px;

  }

.grid-portfolio {

display: grid;
grid-template-columns: auto auto auto auto;
justify-content: space-around;
background-color: $col-backg;
margin-top: 100px;

  }

.img-border {

  border-radius: 10px;
  
  }
  
.borde {

  border-radius: 10px;

  }

.borde:hover {

  transform: scale(1.1);
 
  }
 
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-right: 15px;
  margin-left: 15px;
  }

#galeria img {  

  width: 100%;
  height: 250px ;


  }

#galeria .col-lg-4 {

  padding: 25px;

  }

#galeria img:hover {

border-radius: 10px;
border: solid 5px ;

  }

body {

  background-color: rgb(12, 12, 12);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  }

       
.img1 .img2 .img3 {

  float: center;
  margin: 50px;
  
  }

 .section {

  float: left;
  }

 .section2 {

  float: left;
  margin-left: 70px;
  }

 .section3 {

  margin-top: 200px;
  }

.footsty {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "c1 c2 c3";
  clear: both;
  padding: 0px;
  border-radius: 7px;
  border-right: 60px;
  margin-bottom: 0px;
  margin-top: 150px; 
  text-align: center;
  color: white;
  
  
  }

.c1 .c2 .c3{

    margin-top: 10px;
    margin-bottom: 10px;

  }


 